/* only table's width */
table{
    width: 100%;
  
}

table,th,td{
    /* border:3px inset cadetblue; */
   border-style: solid;
   border-color: aqua; 
   border-collapse: collapse;
}
th{
    height: 60px;
    background-color: rgba(165, 42, 42, 0.925);
    font-size: 30px;
    /* background-color: rgb(187, 175, 199); */
}
td{
    height: 30px;
    text-align: left;
    font-size: 20px;
    vertical-align: center;
    /* background-color: rgb(92, 77, 77); */
    color:black;
    
}
th:hover{background-color: rgb(62, 62, 172);}

td:hover{
    background-color: red;
}


 
tr:nth-child(even){
    background-color: rgb(145, 145, 211);
}

tr:nth-child(odd){
    background-color: rgb(162, 197, 35);
}
caption{
    color: white;
    background-color: black;
    border-radius: 10px;
    border:9px outset white;
    font-size: 60px;
    padding: 15px;
}

